* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100% !important;
  overflow-x: hidden !important;
  font-family: montserrat alternates, sans-serif;
}

body {
  max-width: 100% !important;
  overflow-x: hidden !important;
  font-family: montserrat alternates, sans-serif;
}

.nav {
  margin: 0;
}

.nav-link {
  font-weight: bold;
  list-style: none;
  color: #67c0ae;
  text-shadow: 9px 5px 6px;
}

nav a:hover {
  text-decoration: underline;
}

.textos-header {
  width: 100%;
  height: 650px;
  background: #67B26F;
  background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);
  background: linear-gradient(to right, hsla(200, 56%, 55%, 0.345), hsla(126, 33%, 55%, 0.339)), url("../img/spa4principal.jpg");
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  text-shadow: 1px 1px 2px black, 0 0 1em #fff, 0 0 0.2em #fff;
}

.titulo {
  color: #67c0ae;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 30px;
  text-decoration: underline;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(35, 208, 235), 0 0 0.2em rgb(18, 80, 86);
}

.logo {
  width: 120px;
}

.footer-redes i {
  color: black;
  cursor: pointer;
}
.footer-redes i:hover {
  color: rgb(48, 193, 157);
}

.link-redes a {
  text-decoration: none;
}

.btn-arriba {
  width: 47px;
  font-size: 45px;
  list-style: none;
  color: black;
}

.btn-arriba:hover {
  color: aquamarine;
}

@media (max-width: 700px) {
  .textos-header {
    width: 100%;
    height: 450px;
    background-repeat: round;
    position: relative;
  }
  .titulo {
    font-size: 20px;
  }
  .contenedor-nuestras img {
    max-width: 90%;
  }
  .imagen-masaje img {
    max-width: 90%;
  }
  .texto-nuestras1 {
    max-width: 340px;
    margin-left: 30px;
    text-align: center;
  }
  .bonosregalo {
    max-width: 350px;
    text-align: center;
    margin-bottom: 30px;
  }
  .texto-trata {
    max-width: 340px;
    margin-left: 40px;
    text-align: center;
  }
  .maincontacto {
    max-width: 200px;
    width: 90%;
  }
  .contacto1 .contactotext {
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .textos-header {
    background-size: cover;
    background-attachment: unset;
  }
  .maincontacto {
    max-width: 600px;
    width: 90%;
  }
  .contacto1 .contactotext {
    justify-content: center;
    text-align: center;
  }
}
.navbar-brand {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.text-center {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.maincontacto {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.formu-res {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
.formulario1 {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
.titulo {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.img-inner {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 8;
    -webkit-transform: none;
    transform: none;
  }
}
.maincontacto {
  background-image: url("../img/spa3.jpg");
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.formulario1 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  position: relative;
  width: 100%;
  max-width: 460px;
  height: 480px;
  background: transparent;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  overflow: hidden;
  margin-top: 70px;
  margin-bottom: 100px;
}

.fmcontrol {
  padding: 10px;
  width: 90%;
  position: relative;
}
.fmcontrol input {
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  color: rgb(241, 230, 230);
  padding: 0 30px 0 6px;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  color: rgb(241, 230, 230);
  padding: 0 30px 0 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.boton1 {
  width: 50%;
  height: 35px;
  background: transparent;
  border-radius: 30px;
  font-size: 16px;
  margin: 20px;
  font-weight: 600;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 100px;
  cursor: pointer;
}
.boton1:hover {
  text-decoration: underline;
  color: rgba(9, 182, 182, 0.844);
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.pontecontacto {
  color: white;
  font-size: 35px;
  text-decoration: underline;
}

.contactotext {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: justify;
  color: #fff;
  font-size: small;
  margin-bottom: 10px;
}

.contacto1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.contacto-titulo {
  text-decoration-line: underline;
  margin-bottom: 40px;
}

.contenedor-galeria {
  background-image: url(/img/wepik-export-20231217004347fpYh.jpeg);
  background-size: cover;
  margin: 20px;
  margin-bottom: 40px;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.container-gal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-gal .imagen-gal {
  width: 500px;
  height: 300px;
  margin: 10px;
  border: 10px solid #fefae0;
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  transition-duration: 1s;
}

.imagen-gal {
  max-width: 100%;
}
.imagen-gal:hover {
  border: 5px solid #fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: none;
  filter: none;
}

.contenedor-nuestras img {
  width: 500px;
  padding: 0px;
  margin-bottom: 60px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}

.bonosregalo {
  background-color: rgba(105, 105, 105, 0.221);
  width: 980px;
}

.contenedor-trata img {
  width: 500px;
  padding: 0px;
  margin-bottom: 60px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}

.contenedor-nuestro-spa {
  display: flex;
  justify-content: space-evenly;
}
.contenedor-nuestro-spa img {
  width: 600px;
  margin: 20px;
  padding: 20px;
  margin-bottom: 60px;
  box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}

.img-inner {
  width: 1000px;
}

.contenido-textospa p {
  width: 500px;
  margin-top: 45px;
  font-size: 15px;
  background-color: rgba(118, 215, 196, 0.431372549);
  border: 2px solid black;
  padding: 20px;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

.formu-res {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  width: 350px;
  height: 450px;
  margin-bottom: 80px;
  border-radius: 10% 35%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.formulario-reser {
  width: 320px;
  margin: 20px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.btnreser {
  padding: 7px;
  border-radius: 10% 35%;
  font-weight: bold;
}
.btnreser:hover {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
