* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html, body{
    max-width: 100% !important;
    overflow-x: hidden !important;
    font-family: montserrat alternates,sans-serif;
}


.nav {
    margin: 0;
}
.nav-link{
    font-weight: bold;
    list-style: none;
    color: #67c0ae;
}

nav a:hover {
    text-decoration: underline;
    

}

.textos-header {
    width: 100%;
    height: 500px;
    background: #67B26F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(200, 56%, 55%, 0.345), hsla(126, 33%, 55%, 0.339)), url(../img/spa4principal.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


.titulo {

    color: #67c0ae;
    font-size: 25px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
    text-decoration: underline;
}

.contenedor-nuestras img {
    width: 500px;
    padding: 0px;
    margin-bottom: 60px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}

.bonosregalo {
    background-color: rgba(105, 105, 105, 0.221);
    width: 980px;

}

.contenedor-trata img {
    width: 500px;
    padding: 0px;
    margin-bottom: 60px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}


/*----FOOTER----*/

.logo {
    width: 120px;
}

.footer-redes i {
    cursor: pointer;
}

.footer-redes i:hover {
    color: deepskyblue;
}

.btn-arriba{
    width: 47px;    
    font-size: 45px;
    list-style: none;
    color: black;
    }

    .btn-arriba:hover{
        color:aquamarine;
    }

/*---- VISTA CONTACTO----*/

.maincontacto {
    
    background-image: url(./img/spa3.jpg);
    
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.formulario1 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    position: relative;
    width: 100%;
    max-width: 460px;
    height: 480px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid rgba(257, 257, 257, .7);
    backdrop-filter: blur(20px);
    overflow: hidden;
    margin-top: 70px;
    margin-bottom: 100px;
}

.fmcontrol {
    padding: 10px;
    width: 90%;
    position: relative;

}

.fmcontrol input,
textarea {
    height: 100%;
    width: 100%;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    color: gray;
    padding: 0 30px 0 6px;
    font-family: Arial, Helvetica, sans-serif
}

.boton1 {

    width: 50%;
    height: 35px;
    background: transparent;
    border-radius: 30px;
    font-size: 16px;
    margin: 20px;
    font-weight: 600;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 100px;
    cursor: pointer;

}

.boton1:hover {
    text-decoration: underline;
    color: azure;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.pontecontacto {
    color: white;
    font-size: 35px;
    text-decoration: underline;

}

.contactotext {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: justify;
    color: #fff;
    font-size: small;
    margin-bottom: 10px;
}

.contacto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

/*----NUESTRO SPA----*/

.contenedor-nuestro-spa {
    display: flex;
    justify-content: space-evenly;
}

.contenedor-nuestro-spa img {
    width: 600px;
    margin: 20px;
    padding: 20px;
    margin-bottom: 60px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}

.img-inner {
    width: 1000px;

}

.contenido-textospa p {
    width: 500px;
    margin-top: 45px;
    font-size: 15px;
    background-color: #76d7c46e;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}


/*----GALERIA----*/


.contenedor-galeria {
    background-image: url(/img/wepik-export-20231217004347fpYh.jpeg);
    background-size: cover;
    margin: 20px;
    margin-bottom: 40px;
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.imagen-gal {
    max-width: 100%;
}

.container-gal .imagen-gal {
    width: 500px;
    height: 300px;
    margin: 10px;
    border: 10px solid #fefae0;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    transition-duration: 1s;
}

.imagen-gal:hover {
    border: 5px solid #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}


.container-gal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*----VISTA RESERVAS----*/

.formu-res{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);;
    width: 350px;
    height: 450px;
    margin-bottom: 80px;
    border-radius: 10% 35%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.formulario-reser{
    width: 320px;
    margin: 20px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    
}

.btnreser{
    padding: 7px;
    border-radius: 10% 35%;
    

}
.btnreser:hover{
    
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color:white;
}



/*---MEDIAS MOVILE---*/

@media (max-width: 700px){

    .titulo{
        font-size: 20px;
    }

         .contenedor-nuestras img {
        width: 350px;
    }
    .imagen-masaje img{
        width: 350px;
        }

        .texto-nuestras{
            width: 350px;
            margin-left: 15px;
            align-content: center;
            justify-content: center;
        }
        .bonosregalo{
            width: 350px;
        }
        .texto-trata{
            width: 350px;
            margin-left: 15px;
        }
    }
