@media (max-width: 700px) {
	.textos-header {
		width: 100%;
		background-repeat:round;
		position: relative;
		background-attachment: fixed;
		background-size: cover;
		
	}

	.titulo {
		font-size: 20px;
	}

	.contenedor-nuestras {
		img {
			width: 350px;
		}
	}

	.imagen-masaje {
		img {
			width: 350px;
		}
	}

	.texto-nuestras {
		width: 350px;
		margin-left: 15px;
		align-content: center;
		justify-content: center;
	}

	.bonosregalo {
		width: 350px;
	}

	.texto-trata {
		width: 350px;
		margin-left: 15px;
	}

	.maincontacto{
		max-width: 370px;
		width:100%;
	}
	.contacto1 .contactotext{
	text-align: center;
	}
}

