.contenedor-galeria {
	background-image: url(/img/wepik-export-20231217004347fpYh.jpeg);
	background-size: cover;
	margin: 20px;
	margin-bottom: 40px;
	min-height: 100vh;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

.container-gal {
	.imagen-gal {
		width: 500px;
		height: 300px;
		margin: 10px;
		border: 10px solid #fefae0;
		-webkit-filter: sepia(100%);
		filter: sepia(100%);
		transition-duration: 1s;
	}

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.imagen-gal {
	max-width: 100%;

	&:hover {
		border: 5px solid #fff;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
		-webkit-filter: none;
		filter: none;
	}
}