.contenedor-nuestras {
	img {
		width: 500px;
		padding: 0px;
		margin-bottom: 60px;
		border-radius: 20px;
		box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
	}
}

.bonosregalo {
	background-color: $background-color_1;
	width: 980px;
}

.contenedor-trata {
	img {
		width: 500px;
		padding: 0px;
		margin-bottom: 60px;
		border-radius: 20px;
		box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
	}

}